body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
  cursor: default;
}

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.editable {
  cursor: text;
  outline: none;
}
