.inspector-pane {
  flex: 5;
  border-right: 1px solid #ccc;
  background: #eee;
  display: flex;
  flex-direction: column;
}

/* =============================================================================
   SUBPICTURES
 */

.subpictures-container {
  flex: 1;
  display: flex;
  border-right: 1px solid #ccc;
}

.subpictures-list {
  flex: 1;
  overflow-y: scroll;
}

.subpicture {
  font-size: 1.4em;
  padding: .3em .4em;
  background: linear-gradient(#888, #777);
  border-top: 1px solid #666;
  border-bottom: 1px solid #999;
  color: white;
  cursor: pointer;
}

.subpicture:hover {
  background: linear-gradient(#808080, #707070);
}

.subpicture-name {
  font-weight: bold;
}

.subpicture-scope {
  font-size: .9em;
  padding: 0em .5em;
  color: rgba(255,255,255,.6);
  float: right;
  background-color: rgba(0,0,0,.1);
  border: 1px solid #666;
  border-radius: 1em;
  box-shadow: inset 0 2px 2px rgba(0,0,0,.1),
              0 1px 0 rgba(255,255,255,.1);
}

.subpicture.selected {
  background: #505050;
}

/* =============================================================================
   PARAMETERS
 */

.parameters-container {
  flex: 2;
  display: flex;
  background-color: white;
}

.parameters-content {
  flex: 1;
  overflow-y: scroll;
}

.parameter-container {
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
}

.parameter-container div {
  outline: none;
}

.parameter-name {
  flex: 1;
  padding: .5em .75em;
  font-weight: bold;
  color: #555;
}

.parameter-value {
  flex: 3;
  padding: .5em;
  color: steelblue;
}

.parameter-name .placeholder,
.parameter-value .placeholder {
  color: #999;
  font-style: italic;
}

.scope-container {
  flex: 0;
  display: flex;
  padding: .75em;
  font-size: 1.4em;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

.scope-label {
  flex: 0;
  padding-right: .75em;
  font-weight: bold;
}

.scope-value {
  color: steelblue;
}
