.panes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%;
}

.left-pane {
  background: hsl(100, 50%, 50%);
  flex: 0 0 200px;
  height: 100%;
  position: relative;
}

.middle-pane {
  background: hsl(200, 50%, 50%);
  flex: 1;
  height: 100%;
  position: relative;
}

.right-pane {
  background: hsl(300, 50%, 50%);
  flex: 1;
  height: 100%;
  position: relative;
}

.pane-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
