.pictures-pane {
  flex: 0;
  height: 13em;
  background: linear-gradient(#ddd 0%, #eee 95%, #e5e5e5 100%);
  border-bottom: 1px solid #ccc;
}

.pictures-list {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.picture {
  flex: 0;
  height: 100%;
  margin-right: 15px;
  background-color: white;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
  cursor: pointer;
  position: relative;
}

.picture.selected {
  box-shadow: 0 2px 3px 1px rgba(0,0,0,.2),
              0 0 0 2px #03a2cc;
}

.picture svg {
  height: 100%;
}

.add-picture {
  align-self: center;
  font-size: 2em;
  line-height: 1;
  color: rgba(0,0,0,.5);
  padding: .4em .5em .35em;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.add-picture:hover {
  color: #03a2cc;
}

.show-on-hover {
  opacity: 0;
  transition: 100ms opacity linear;
}

.picture:hover .show-on-hover {
  opacity: 1;
}

.remove-picture {
  position: absolute;
  font-size: 1.4em;
  color: rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.04);
  top: 0;
  right: 0;
  padding: .2em .35em;
  margin: .15em;
}

.remove-picture:hover {
  color: white;
  background-color: #b91111;
}

.embed-picture {
  position: absolute;
  font-size: 1.4em;
  color: rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.04);
  bottom: 0;
  right: 0;
  padding: .2em .35em;
  margin: .15em;
}

.embed-picture:hover {
  color: white;
  background-color: #007bc9;
}
