.variables-pane {
  flex: 1;
  min-width: 25em;
  max-width: 40em;
  border-right: 1px solid #bbb;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.variables-container {
  flex: 1;
  overflow-y: scroll;
}

.variables-category {
  margin-bottom: 1.5em;
}

.variables-category h3 {
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 0.5px;
  margin: .7em .5em .5em;
}

.variable-container {
  display: flex;
  align-items: flex-start;
  font-size: 1.4em;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.variable-name-container {
  flex: 0 0 5em;
  max-width: 50%;
  padding: .2em;
}

.variable-name {
  display: inline-block;
  background: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,0)), #0488b9;
  padding: .3125em .55em;
  color: white;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
  position: relative;
  border-radius: 2em;
  text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.variable-name:hover {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.3);
}

.variable-name.category--required {
  background: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,0)), #03a200;
}

.variable-name.category--sources {
  background: linear-gradient(rgba(255,255,255,.15), rgba(255,255,255,0)), #d08f00;
}

.variable-name.editable {
  outline: none;
}

.variable-value {
  flex: 1;
  margin-left: .75em;
  align-self: center;
  padding: .2em;
}

.variable-value.expression {
  font-family: "Source Code Pro";
  font-weight: 400;
  color: #3257b4;
}
